body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    background-color: lightgreen;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
    height: 48px;
}

li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 20px;
    margin-left: 0px;
}
/*#butOut {
    display: block;
    text-align: center;
    margin: 14px 16px;
}*/
button {
    display: block;
    text-align: center;
    margin: 14px 16px;
}

li a:hover {
    background-color: #00ff21;
}

.active {
    background-color: #4CAF50;
}

.content {
    margin-top: 20px;
    padding: 20px;
}
